<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "cocktails", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Create new cocktail", new_cocktail_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Lose one week in <strong>ONE NIGHT!</strong>!</h1>
    <p>Find the strongest stuff to mess yourself up</p>
    <a class="btn btn-flat" href="#">Overcome Your Inhibitions now!</a>
  </div>
</div>



<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.img %>)">
    <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
  </div>
<% end %>
</div>
<%= link_to "Create new cocktail", new_cocktail_path, class: "btn btn-gradient" %>

